.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.marginalia

js/
build/
coverage/
vendor/
/fonts/selection.jsonZone.Identifier
/fonts/icomoon.woffZone.Identifier
/fonts/icomoon.ttfZone.Identifier
/fonts/icomoon.svgZone.Identifier
/fonts/icomoon.eotZone.Identifier
